In [4]:
from mylibrary.secrets import app_id, app_key, orig_name, dest_name, orig_pc, dest_pc
from mylibrary.connections import cursor, conn, engine, Automapped_Base, session

In [ ]:
conn.rollback()

sql = """
drop table if exists tt_h.stations_journeytime;

create table tt_h.stations_journeytime as 
select nlc, icscode, station_name from tt_h.all_stations where icscode_status= 'ok';
""".format(name = name)
cur = conn.cursor()
cur.execute(sql)
conn.commit()

sql = """
ALTER TABLE tt_h.stations_journeytime
ADD id SERIAL,
ADD tfl_request text, 
ADD tfl_response json,
ADD querydict json,
ADD journey_time int,
ADD tfl_message text,
ADD tfl_dest as text;

ALTER TABLE tt_h.stations_journeytime ADD PRIMARY KEY (id);

""".format(name=name)
cur = conn.cursor()
cur.execute(sql)
conn.commit()

In [4]:
# Dump all the json to the database first.  Then process it later
# Iterate through adding icscode
import requests
import pandas as pd
import json

from mylibrary.tfl_helpers import get_journeyplanner_raw_content, status_of_tfl_response_journey, get_journeyplanner_results

In [2]:
from mylibrary.connections import cursor, conn, engine, Automapped_Base, session

def get_attempt(pc, times, dates):

    attempt = {
        "to": pc,
        "id": app_id,
        "key": app_key,
        "time": times[0],
        "date": dates[0],
        "nationalsearch": True}
                      
    param_dicts = []
    param_dicts.append(attempt)

    d1 = attempt.copy()
    d1["time"] =times[1]
    d1["date"] = dates[1]
    param_dicts.append(d1)

    d2 = attempt.copy()
    d2["time"] =times[2]
    d2["date"] = dates[2]
    param_dicts.append(d2)

    return param_dicts

/Users/robinlinacre/anaconda/lib/python3.6/site-packages/sqlalchemy/dialects/postgresql/base.py:2526: SAWarning: Did not recognize type 'geometry' of column 'geom'
  (attype, name))

In [6]:
# Multithread 

import threading
num_threads = 7

from sqlalchemy import or_

from sqlalchemy.orm.session import make_transient

Stations2 = Automapped_Base.classes.stations_journeytime


# Needs only the nlcs which haven't already been done

sql = """
select distinct nlc from tt_h.stations_journeytime_cw
where nlc not in (select nlc from tt_h.stations_journeytime_cw where tfl_message ='ok')
"""

nlcs = list(pd.read_sql(sql,conn)["nlc"])
nlcs = [int(i) for i in nlcs]

# nlcs  = session.query(Stations2.nlc).filter(or_(Stations2.tfl_message == None, Stations2.tfl_message != 'ok')).all()
counter = 1
from sqlalchemy import create_engine

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, MetaData

def new_thread():
    global counter
    
    engine = create_engine('postgresql://postgres:@localhost:5432/postgres') 
    m = MetaData(schema='tt_h')
    Automapped_Base = automap_base(bind=engine,metadata=m)
    Automapped_Base.prepare(engine, reflect=True)
    session = Session(engine)
    Stations = Automapped_Base.classes.stations_journeytime_cw

    
    while len(nlcs) > 0:
        nlc = nlcs.pop()
        station = session.query(Stations).filter(Stations.nlc == nlc).first()
        station_id = station.id

        attempts = []
        for dest in ["SW1H9AJ", "E145HP"]:
            attempts.append(get_attempt(dest, ["0800","0820", "0840"], ["20170817","20170906","20170908"]))
            attempts.append(get_attempt(dest, ["0820","0840", "0900"], ["20170817","20170906","20170908"]))
            attempts.append(get_attempt(dest, ["0740","0800", "0820"], ["20170817","20170906","20170908"]))
    
        for param_dicts in attempts:

            journey_object = get_journeyplanner_results(param_dicts)
            
            _del = station.station_name # This seems to force retreival from the db
            
            session.expunge(station)
            make_transient(station)
            station.id = None

            station.tfl_request = journey_object["request_url"]
            station.tfl_response = journey_object["tfl_response"]
            station.querydict = journey_object["query_dict"]
            station.tfl_message = journey_object["tfl_message"]

            session.add(station)
            
            session.commit()
            
            counter +=1
            if counter % 10 == 0:
                print(counter)
        
        original = session.query(Stations).filter(Stations.id == station_id)
        session.delete(station)
        session.commit()
        
        
 
my_threads = []

for i in range(num_threads):
    t = threading.Thread(target=new_thread)
    my_threads.append(t)
    t.start() #start this thread

for x in my_threads:
    x.join()

/Users/robinlinacre/anaconda/lib/python3.6/site-packages/sqlalchemy/dialects/postgresql/base.py:2526: SAWarning: Did not recognize type 'geometry' of column 'geom'
  (attype, name))

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
Traceback (most recent call last):
  File "/Users/robinlinacre/Documents/python_projects/house_tt/mylibrary/tfl_helpers.py", line 30, in status_of_tfl_response_journey
    parsed_response = json.loads(content)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/__init__.py", line 354, in loads
    return _default_decoder.decode(s)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 339, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 357, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

Traceback (most recent call last):
  File "/Users/robinlinacre/Documents/python_projects/house_tt/mylibrary/tfl_helpers.py", line 30, in status_of_tfl_response_journey
    parsed_response = json.loads(content)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/__init__.py", line 354, in loads
    return _default_decoder.decode(s)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 339, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 357, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

Traceback (most recent call last):
  File "/Users/robinlinacre/Documents/python_projects/house_tt/mylibrary/tfl_helpers.py", line 30, in status_of_tfl_response_journey
    parsed_response = json.loads(content)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/__init__.py", line 354, in loads
    return _default_decoder.decode(s)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 339, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 357, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

730
Traceback (most recent call last):
  File "/Users/robinlinacre/Documents/python_projects/house_tt/mylibrary/tfl_helpers.py", line 30, in status_of_tfl_response_journey
    parsed_response = json.loads(content)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/__init__.py", line 354, in loads
    return _default_decoder.decode(s)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 339, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 357, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290
1300
1310
1320
1330
1340
1350
1360
1370
1380
1390
1400
1410
1420
1430
1440
1450
1460
1470
1480
1490
1500
1510
1520
1530
1540
1550
1560
1570
1580
1590
1600
1610
1620
1630
1640
1650
1660
1670
1680
1690
1700
1710
1720
1730
1740
1750
1760
1770
1780
1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010
2020
2030
2040
2050
2060
2070
2080
2090
2100
2110
2120
2130
2140
2150
2160
2170
2180
2190
2200
2210
2220
2230
2240
2250
2260
2270
2280
2290
2300
2310
2320
2330
2340
2350
2360
2370
2380
2390
2400
2410
2420
2430
2440
2450
2460
2470
2480
2490
2500
2510
2520
2530
2540
2550
2560
2570
2580
2590
2600
2610
2620
2630
2640
2650
2660
2670
Traceback (most recent call last):
  File "/Users/robinlinacre/Documents/python_projects/house_tt/mylibrary/tfl_helpers.py", line 30, in status_of_tfl_response_journey
    parsed_response = json.loads(content)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/__init__.py", line 354, in loads
    return _default_decoder.decode(s)
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 339, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "/Users/robinlinacre/anaconda/lib/python3.6/json/decoder.py", line 357, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

2680
2690
2700
2710
2720
2730
2740
2750
2760
2770
2780
2790
2800
2810
2820
2830
2840
2850
2860
2870
2880
2890
2900
2910
2920
2930
2940
2950
2960
2970
2980
2990
3000
3010
3020
3030
3040
3050
3060
3070

In [12]:
# How many stations are there in total
sql = """
select count(*) from (select distinct(icscode) from tt_h.stations_journeytime_cw) as a

"""
pd.read_sql(sql, conn)

   count
0   2550

In [23]:
# How many stations are there that we have an 'ok' for?
sql = """
select count(*) from (select distinct(icscode) from tt_h.stations_journeytime_cw where tfl_message = 'ok') as a

"""
pd.read_sql(sql, conn)

   count
0   2530

In [5]:
get_attempt("SW1H9AJ", ["0800","0820", "0840"], ["20170817","20170906","20170908"])

[{'date': '20170817',
  'id': 'cedea352',
  'key': '396174bea171b2bc807a406cb7e909e1',
  'nationalsearch': True,
  'time': '0800',
  'to': 'SW1H9AJ'},
 {'date': '20170906',
  'id': 'cedea352',
  'key': '396174bea171b2bc807a406cb7e909e1',
  'nationalsearch': True,
  'time': '0820',
  'to': 'SW1H9AJ'},
 {'date': '20170908',
  'id': 'cedea352',
  'key': '396174bea171b2bc807a406cb7e909e1',
  'nationalsearch': True,
  'time': '0840',
  'to': 'SW1H9AJ'}]

,nlc,icscode,station_name,id,tfl_request,tfl_response,querydict,journey_time,tfl_message,london_mainline_station_ics,london_mainline_station_text
0,6846,1000691,White Notley,2553,https://api.tfl.gov.uk/Journey/JourneyResults/...,"{""$type"":""Tfl.Api.Presentation.Entities.Journe...","{""to"": ""E145HP"", ""id"": ""cedea352"", ""key"": ""396...",None,ok,None,None