In [117]:
# Which central London station to use as a backup?

In [118]:
from mylibrary.connections import cursor, conn
import pandas as pd 

sql = """
select icscode as icscode_depart, station_name as station_name_depart from tt_h.stations_maps_data
where natrail_journey_minutes_cw is null or natrail_journey_minutes_pf is null
"""

df1 = pd.read_sql(sql, conn)
df1["join"] = 1

In [119]:
# Get list of all cl stations 
sql = """
SELECT station_name as station_name_arrive, icscode as icscode_arrive, "1516_entries_&_exits"
from tt_h.all_stations as s, tt_h.inner_london as ie
where ST_Contains(ie.geom, s.geom)
order by cast("1516_entries_&_exits" as float) desc
limit 10
"""

df2 = pd.read_sql(sql, conn)
df2["join"] = 1
df2

  station_name_arrive icscode_arrive 1516_entries_&_exits  join
0            Waterloo        1000254             99148388     1
1            Victoria        1000248             81151418     1
2    Liverpool Street        1000138             66556690     1
3       London Bridge        1000139             53850938     1
4              Euston        1000077             41677870     1
5           Stratford        1000226             41113260     1
6          Paddington        1001221             36536074     1
7        King's Cross        1001171             33361696     1
8          St.Pancras        1001276             31723686     1
9       Charing Cross        1000045             28998152     1

In [120]:
df_all = df1.merge(df2, on="join")

In [123]:
from mylibrary.secrets import app_id, app_key
from mylibrary.tfl_helpers import get_journeyplanner_raw_content, status_of_tfl_response_journey, get_journeyplanner_results
counter = 1
for r in df_all.iterrows():
    counter +=1 
    print(counter)
    index = r[0]
    row = r[1]
    
    param_dict = [{
        "from": row["icscode_depart"],
        "to": row["icscode_arrive"],
        "id": app_id,
        "key": app_key,
        "time": "0900",
        "date": "20170906",
        "nationalsearch": True}]
    
    try:
        journey_object = get_journeyplanner_results(param_dict)

        d = 100000
        this_journey = None
        for j in journey_object['journey']['journeys']:
            if j['duration'] < d:
                d = j['duration']
                this_journey = j

        df_all.loc[index, "duration"] = j['duration']
        df_all.loc[index, "arrival_icscode"] = j['legs'][-1]['arrivalPoint']['icsCode']
    except:
        print("problem with {} {}".format(row["station_name_depart"], row["station_name_arrive"]))
    
    
    

df_all

2
3
4
5
6
7
8
9
10
11
12
problem with Appledore Waterloo
13
problem with Appledore Victoria
14
problem with Appledore Liverpool Street
15
problem with Appledore London Bridge
16
problem with Appledore Euston
17
problem with Appledore Stratford
18
problem with Appledore Paddington
19
problem with Appledore King's Cross
20
problem with Appledore St.Pancras
21
problem with Appledore Charing Cross
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
problem with Broadstairs Waterloo
93
problem with Broadstairs Victoria
94
problem with Broadstairs Liverpool Street
95
problem with Broadstairs London Bridge
96
problem with Broadstairs Euston
97
problem with Broadstairs Stratford
98
problem with Broadstairs Paddington
99
problem with Broadstairs King's Cross
100
problem with Broadstairs St.Pancras
101
problem with Broadstairs Charing Cross
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
problem with Canterbury West Waterloo
133
problem with Canterbury West Victoria
134
problem with Canterbury West Liverpool Street
135
136
problem with Canterbury West Euston
137
problem with Canterbury West Stratford
138
problem with Canterbury West Paddington
139
problem with Canterbury West King's Cross
140
problem with Canterbury West St.Pancras
141
problem with Canterbury West Charing Cross
142
143
144
145
146
147
148
149
150
151
152
problem with Chartham Waterloo
153
problem with Chartham Victoria
154
problem with Chartham Liverpool Street
155
problem with Chartham London Bridge
156
problem with Chartham Euston
157
problem with Chartham Stratford
158
problem with Chartham Paddington
159
problem with Chartham King's Cross
160
problem with Chartham St.Pancras
161
problem with Chartham Charing Cross
162
163
164
165
166
167
168
169
170
171
172
problem with Chilham Waterloo
173
problem with Chilham Victoria
174
problem with Chilham Liverpool Street
175
problem with Chilham London Bridge
176
problem with Chilham Euston
177
problem with Chilham Stratford
178
problem with Chilham Paddington
179
problem with Chilham King's Cross
180
problem with Chilham St.Pancras
181
problem with Chilham Charing Cross
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
problem with Deal Waterloo
223
problem with Deal Victoria
224
problem with Deal Liverpool Street
225
problem with Deal London Bridge
226
problem with Deal Euston
227
problem with Deal Stratford
228
problem with Deal Paddington
229
problem with Deal King's Cross
230
problem with Deal St.Pancras
231
problem with Deal Charing Cross
232
problem with Dover Priory Waterloo
233
problem with Dover Priory Victoria
234
problem with Dover Priory Liverpool Street
235
problem with Dover Priory London Bridge
236
problem with Dover Priory Euston
237
problem with Dover Priory Stratford
238
problem with Dover Priory Paddington
239
problem with Dover Priory King's Cross
240
problem with Dover Priory St.Pancras
241
problem with Dover Priory Charing Cross
242
problem with Dumpton Park Waterloo
243
problem with Dumpton Park Victoria
244
problem with Dumpton Park Liverpool Street
245
problem with Dumpton Park London Bridge
246
problem with Dumpton Park Euston
247
problem with Dumpton Park Stratford
248
problem with Dumpton Park Paddington
249
problem with Dumpton Park King's Cross
250
problem with Dumpton Park St.Pancras
251
problem with Dumpton Park Charing Cross
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
problem with Folkestone Central Waterloo
313
problem with Folkestone Central Victoria
314
problem with Folkestone Central Liverpool Street
315
316
problem with Folkestone Central Euston
317
problem with Folkestone Central Stratford
318
problem with Folkestone Central Paddington
319
problem with Folkestone Central King's Cross
320
problem with Folkestone Central St.Pancras
321
problem with Folkestone Central Charing Cross
322
problem with Folkestone West Waterloo
323
problem with Folkestone West Victoria
324
problem with Folkestone West Liverpool Street
325
326
problem with Folkestone West Euston
327
problem with Folkestone West Stratford
328
problem with Folkestone West Paddington
329
problem with Folkestone West King's Cross
330
problem with Folkestone West St.Pancras
331
problem with Folkestone West Charing Cross
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
problem with Great Chesterford King's Cross
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
problem with Ham Street Waterloo
393
problem with Ham Street Victoria
394
problem with Ham Street Liverpool Street
395
problem with Ham Street London Bridge
396
problem with Ham Street Euston
397
problem with Ham Street Stratford
398
problem with Ham Street Paddington
399
problem with Ham Street King's Cross
400
problem with Ham Street St.Pancras
401
problem with Ham Street Charing Cross
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
problem with Kearsney Waterloo
453
problem with Kearsney Victoria
454
problem with Kearsney Liverpool Street
455
problem with Kearsney London Bridge
456
problem with Kearsney Euston
457
problem with Kearsney Stratford
458
problem with Kearsney Paddington
459
problem with Kearsney King's Cross
460
problem with Kearsney St.Pancras
461
problem with Kearsney Charing Cross
462
463
464
465
466
467
468
469
470
471
472
problem with Martin Mill Waterloo
473
problem with Martin Mill Victoria
474
problem with Martin Mill Liverpool Street
475
476
problem with Martin Mill Euston
477
problem with Martin Mill Stratford
478
problem with Martin Mill Paddington
479
problem with Martin Mill King's Cross
480
problem with Martin Mill St.Pancras
481
problem with Martin Mill Charing Cross
482
problem with Minster Waterloo
483
problem with Minster Victoria
484
problem with Minster Liverpool Street
485
problem with Minster London Bridge
486
problem with Minster Euston
487
problem with Minster Stratford
488
problem with Minster Paddington
489
problem with Minster King's Cross
490
problem with Minster St.Pancras
491
problem with Minster Charing Cross
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
problem with Rye Waterloo
573
problem with Rye Victoria
574
problem with Rye Liverpool Street
575
problem with Rye London Bridge
576
problem with Rye Euston
577
problem with Rye Stratford
578
problem with Rye Paddington
579
problem with Rye King's Cross
580
problem with Rye St.Pancras
581
problem with Rye Charing Cross
582
583
584
585
586
587
588
589
590
591
592
problem with Sandling Waterloo
593
problem with Sandling Victoria
594
problem with Sandling Liverpool Street
595
problem with Sandling London Bridge
596
problem with Sandling Euston
597
problem with Sandling Stratford
598
problem with Sandling Paddington
599
problem with Sandling King's Cross
600
problem with Sandling St.Pancras
601
problem with Sandling Charing Cross
602
problem with Sandwich Waterloo
603
problem with Sandwich Victoria
604
problem with Sandwich Liverpool Street
605
problem with Sandwich London Bridge
606
problem with Sandwich Euston
607
problem with Sandwich Stratford
608
problem with Sandwich Paddington
609
problem with Sandwich King's Cross
610
problem with Sandwich St.Pancras
611
problem with Sandwich Charing Cross
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
problem with Stoke Mandeville Victoria
694
695
696
697
698
699
700
701
702
problem with Strood Waterloo
703
problem with Strood Victoria
704
problem with Strood Liverpool Street
705
problem with Strood London Bridge
706
707
708
709
710
711
712
problem with Sturry Waterloo
713
problem with Sturry Victoria
714
problem with Sturry Liverpool Street
715
problem with Sturry London Bridge
716
problem with Sturry Euston
717
problem with Sturry Stratford
718
problem with Sturry Paddington
719
problem with Sturry King's Cross
720
problem with Sturry St.Pancras
721
problem with Sturry Charing Cross
722
problem with Theobalds Grove Waterloo
723
problem with Theobalds Grove Victoria
724
problem with Theobalds Grove Liverpool Street
725
problem with Theobalds Grove London Bridge
726
problem with Theobalds Grove Euston
727
problem with Theobalds Grove Stratford
728
problem with Theobalds Grove Paddington
729
problem with Theobalds Grove King's Cross
730
731
732
733
734
735
736
737
738
739
740
741
742
problem with Walmer Waterloo
743
problem with Walmer Victoria
744
problem with Walmer Liverpool Street
745
problem with Walmer London Bridge
746
problem with Walmer Euston
747
problem with Walmer Stratford
748
problem with Walmer Paddington
749
problem with Walmer King's Cross
750
problem with Walmer St.Pancras
751
problem with Walmer Charing Cross
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
problem with Westenhanger Waterloo
803
problem with Westenhanger Victoria
804
problem with Westenhanger Liverpool Street
805
problem with Westenhanger London Bridge
806
problem with Westenhanger Euston
807
problem with Westenhanger Stratford
808
problem with Westenhanger Paddington
809
problem with Westenhanger King's Cross
810
problem with Westenhanger St.Pancras
811
problem with Westenhanger Charing Cross
812
813
814
815
816
817
818
819
problem with Whittlesford King's Cross
820
821
822
problem with Wye Waterloo
823
problem with Wye Victoria
824
problem with Wye Liverpool Street
825
problem with Wye London Bridge
826
problem with Wye Euston
827
problem with Wye Stratford
828
problem with Wye Paddington
829
problem with Wye King's Cross
830
problem with Wye St.Pancras
831
problem with Wye Charing Cross

,icscode_depart,station_name_depart,join,station_name_arrive,icscode_arrive,1516_entries_&_exits,duration,arrival_icscode
0,1000006,Amersham,1,Waterloo,1000254,99148388,40.0,1000254
1,1000006,Amersham,1,Victoria,1000248,81151418,37.0,1000248
2,1000006,Amersham,1,Liverpool Street,1000138,66556690,42.0,1000138
3,1000006,Amersham,1,London Bridge,1000139,53850938,42.0,1000139
4,1000006,Amersham,1,Euston,1000077,41677870,36.0,1000077
5,1000006,Amersham,1,Stratford,1000226,41113260,48.0,1000226
6,1000006,Amersham,1,Paddington,1001221,36536074,32.0,1001221
7,1000006,Amersham,1,King's Cross,1001171,33361696,37.0,1001171
8,1000006,Amersham,1,St.Pancras,1001276,31723686,37.0,1001276
9,1000006,Amersham,1,Charing Cross,1000045,28998152,38.0,1000045
10,90000198,Appledore,1,Waterloo,1000254,99148388,NaN,NaN
11,90000198,Appledore,1,Victoria,1000248,81151418,NaN,NaN
12,90000198,Appledore,1,Liverpool Street,1000138,66556690,NaN,NaN
13,90000198,Appledore,1,London Bridge,1000139,53850938,NaN,NaN
14,90000198,Appledore,1,Euston,1000077,41677870,NaN,NaN
15,90000198,Appledore,1,Stratford,1000226,41113260,NaN,NaN
16,90000198,Appledore,1,Paddington,1001221,36536074,NaN,NaN
17,90000198,Appledore,1,King's Cross,1001171,33361696,NaN,NaN
18,90000198,Appledore,1,St.Pancras,1001276,31723686,NaN,NaN
19,90000198,Appledore,1,Charing Cross,1000045,28998152,NaN,NaN
20,90000281,Ashford International,1,Waterloo,1000254,99148388,63.0,1000254
21,90000281,Ashford International,1,Victoria,1000248,81151418,59.0,1000248
22,90000281,Ashford International,1,Liverpool Street,1000138,66556690,55.0,1000138
23,90000281,Ashford International,1,London Bridge,1000139,53850938,63.0,1000139
24,90000281,Ashford International,1,Euston,1000077,41677870,53.0,1000077
25,90000281,Ashford International,1,Stratford,1000226,41113260,41.0,1000226
26,90000281,Ashford International,1,Paddington,1001221,36536074,63.0,1000174
27,90000281,Ashford International,1,King's Cross,1001171,33361696,47.0,1000129
28,90000281,Ashford International,1,St.Pancras,1001276,31723686,38.0,1001276
29,90000281,Ashford International,1,Charing Cross,1000045,28998152,63.0,1000045
...,...,...,...,...,...,...,...,...
800,90007709,Westenhanger,1,Waterloo,1000254,99148388,NaN,NaN
801,90007709,Westenhanger,1,Victoria,1000248,81151418,NaN,NaN
802,90007709,Westenhanger,1,Liverpool Street,1000138,66556690,NaN,NaN
803,90007709,Westenhanger,1,London Bridge,1000139,53850938,NaN,NaN
804,90007709,Westenhanger,1,Euston,1000077,41677870,NaN,NaN
805,90007709,Westenhanger,1,Stratford,1000226,41113260,NaN,NaN
806,90007709,Westenhanger,1,Paddington,1001221,36536074,NaN,NaN
807,90007709,Westenhanger,1,King's Cross,1001171,33361696,NaN,NaN
808,90007709,Westenhanger,1,St.Pancras,1001276,31723686,NaN,NaN
809,90007709,Westenhanger,1,Charing Cross,1000045,28998152,NaN,NaN
810,90008117,Whittlesford,1,Waterloo,1000254,99148388,44.0,1000254
811,90008117,Whittlesford,1,Victoria,1000248,81151418,47.0,1000248
812,90008117,Whittlesford,1,Liverpool Street,1000138,66556690,39.0,1000138
813,90008117,Whittlesford,1,London Bridge,1000139,53850938,41.0,1000139
814,90008117,Whittlesford,1,Euston,1000077,41677870,44.0,1000077
815,90008117,Whittlesford,1,Stratford,1000226,41113260,34.0,1000226
816,90008117,Whittlesford,1,Paddington,1001221,36536074,48.0,1001221
817,90008117,Whittlesford,1,King's Cross,1001171,33361696,NaN,NaN
818,90008117,Whittlesford,1,St.Pancras,1001276,31723686,43.0,1001276
819,90008117,Whittlesford,1,Charing Cross,1000045,28998152,44.0,1000045
820,90008146,Wye,1,Waterloo,1000254,99148388,NaN,NaN
821,90008146,Wye,1,Victoria,1000248,81151418,NaN,NaN
822,90008146,Wye,1,Liverpool Street,1000138,66556690,NaN,NaN
823,90008146,Wye,1,London Bridge,1000139,53850938,NaN,NaN
824,90008146,Wye,1,Euston,1000077,41677870,NaN,NaN
825,90008146,Wye,1,Stratford,1000226,41113260,NaN,NaN
826,90008146,Wye,1,Paddington,1001221,36536074,NaN,NaN
827,90008146,Wye,1,King's Cross,1001171,33361696,NaN,NaN
828,90008146,Wye,1,St.Pancras,1001276,31723686,NaN,NaN
829,90008146,Wye,1,Charing Cross,1000045,28998152,NaN,NaN

In [136]:
df_all = df_all[df_all["station_name_arrive"] != "Stratford"]

In [138]:
df_all_2 = df_all.sort_values(["station_name_depart", "duration"]).drop_duplicates("station_name_depart")

In [143]:
df_all_3 = df_all_2[pd.notnull(df_all_2["arrival_icscode"])]

In [147]:
df_all_4 = df_all_3[["icscode_depart","station_name_depart","station_name_arrive","arrival_icscode"]]

In [150]:
from mylibrary.connections import cursor, conn, engine, Automapped_Base, session
df_all_4.to_sql("anomalies_central_london_station", engine, schema="tt_h", if_exists="replace", index=False)

,icscode_depart,station_name_depart,join,station_name_arrive,icscode_arrive,1516_entries_&_exits,duration,arrival_icscode
0,1000006,Amersham,1,Waterloo,1000254,99148388,40.0,1000254
1,1000006,Amersham,1,Victoria,1000248,81151418,37.0,1000248
2,1000006,Amersham,1,Liverpool Street,1000138,66556690,42.0,1000138
3,1000006,Amersham,1,London Bridge,1000139,53850938,42.0,1000139
4,1000006,Amersham,1,Euston,1000077,41677870,36.0,1000077